

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondery-bg{
    background-color: #f5ab76;
}
/* shered styles */
.text-pimery{
    color: #FD6E0A;
    
}
.c{
    background-color: #f5ab76;
}
.dark-2{
      color: #474747;
}
.btn-primary{
    background-color:#FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-titel{
   font-size: 35px;
   font-weight: bold;
   color:#181818 ;
}
.section-derscription{
    font-size: 18px;
    color: #757575;
}



/* Navigation styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 20px ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    padding-left: 150px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');

    background-repeat:no-repeat;
    background-position: left bottom,right bottom;
   
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
     font-size: 30px;
    margin: 0px 35px 0px 150px;
}

.banner-content{
    max-width: 580px;
}
.banner-geatings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
   
}
.banner-profile-pic{
    width: 800px;

}
/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about radiuss */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;

}
.team{
    text-align: center;
    font-size: 100px;
}
.teams{
    text-align: center;
    font-size: 45px;
    padding:0px 100px;
    justify-content: space-around;
}
.team-7{
    background-color:thistle;
}

.card-container{
    display: flex;
}


.card{
    width: 300px;
     border: 2px solid rgb(218, 131, 131);
     border-radius: 10px;
     box-shadow:10px 10px 10px 10px rgba(197, 99, 99, 0.233);

     

}

.card:hover{
    background-color: aqua;
}
.card img{
    width: 100%;
    border-radius: 10px;
   
}

